<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbz.system.mapper.StudentMapper">

    <resultMap type="Student" id="StudentResult">
        <result property="id"    column="id"    />
        <result property="studentNo"    column="studentNo"    />
        <result property="userId"    column="user_id"    />
        <result property="birth"    column="birth"    />
        <result property="nation"    column="nation"    />
        <result property="politicalStatus"    column="political_status"    />
        <result property="bloodType"    column="blood_type"    />
        <result property="maritalStatus"    column="marital_status"    />
        <result property="healthStatus"    column="health_status"    />
        <result property="religious"    column="religious"    />
        <result property="country"    column="country"    />
        <result property="address"    column="address"    />
        <result property="residence"    column="residence"    />
        <result property="identity"    column="identity"    />
        <result property="instructorId"    column="instructor_id"    />
        <result property="grade"    column="grade"    />
        <result property="collegeNo"    column="collegeNo"    />
        <result property="classNo"    column="classNo"    />
        <result property="orgSchool"    column="org_school"    />
        <result property="planType"    column="plan_type"    />
        <result property="stuType"    column="stu_type"    />
        <result property="inTime"    column="in_time"    />
        <result property="major"    column="major"    />
        <result property="length"    column="length"    />
        <result property="expectedGradu"    column="expected_gradu"    />
        <result property="schoolStatus"    column="school_status"    />
        <result property="status"    column="status"    />
        <result property="userName"    column="user_name"    />
        <result property="nickName"    column="nick_name"    />
        <result property="email"    column="email"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="sex"    column="sex"    />
        <result property="detailAddress"    column="detail_address"    />
        <result property="detailResidence"    column="detail_residence"    />
        <result property="qq"    column="qq"    />
        <result property="wechat"    column="wechat"    />
        <result property="contact"    column="contact"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="avatar"    column="avatar"    />


        <association property="instructor"    column="user_id" javaType="User" resultMap="userResult" />
        <association property="classInfo"    column="classNo" javaType="ClassInfo" resultMap="classResult" />
        <association property="collegeInfo"    column="collegeNo" javaType="CollegeInfo" resultMap="collegeResult" />

    </resultMap>

    <resultMap id="userResult" type="User">
        <id     property="userId"       column="user_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
        <result property="password"     column="password"     />
        <result property="role"     column="role"     />
        <result property="email"        column="email"        />
        <result property="phoneNumber"  column="phone_number"  />
        <result property="sex"          column="sex"          />
        <result property="avatar"       column="avatar"       />
        <result property="status"       column="status"       />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="remark"       column="remark"       />
    </resultMap>

    <resultMap id="classResult" type="ClassInfo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="classNo" jdbcType="VARCHAR" property="classno" />
        <result column="className" jdbcType="VARCHAR" property="classname" />
        <result column="studentNumber" jdbcType="INTEGER" property="studentnumber"/>
    </resultMap>

    <resultMap id="collegeResult" type="CollegeInfo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="collegeNo" jdbcType="VARCHAR" property="collegeno" />
        <result column="collegeName" jdbcType="VARCHAR" property="collegename" />
    </resultMap>

    <sql id="selectStudentVo">
        select stu.*,
        u.*,
        c.*,
        co.*
        from student_info stu
            left join user_info u on stu.instructor_id = u.user_id
		    left join class_info c on c.classNo = stu.classNo
		    left join college_info co on co.collegeNo = stu.collegeNo
    </sql>

    <select id="selectStudentList" parameterType="Student" resultMap="StudentResult">
        <include refid="selectStudentVo"/>
        <where>
            <if test="instructorId != null  and instructorId != ''"> and instructor_id = #{instructorId}</if>
        </where>
    </select>

    <select id="selectStudentByUserId" parameterType="Long" resultMap="StudentResult">
        <include refid="selectStudentVo"/>
        where stu.user_id = #{userId}
    </select>

    <insert id="insertStudent" parameterType="Student">
        insert into student_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentNo != null">studentNo,</if>
            <if test="userId != null">user_id,</if>
            <if test="birth != null">birth,</if>
            <if test="nation != null">nation,</if>
            <if test="politicalStatus != null">political_status,</if>
            <if test="bloodType != null">blood_type,</if>
            <if test="maritalStatus != null">marital_status,</if>
            <if test="healthStatus != null">health_status,</if>
            <if test="religious != null">religious,</if>
            <if test="country != null">country,</if>
            <if test="address != null">address,</if>
            <if test="residence != null">residence,</if>
            <if test="identity != null">identity,</if>
            <if test="instructorId != null">instructor_id,</if>
            <if test="grade != null">grade,</if>
            <if test="collegeNo != null">collegeNo,</if>
            <if test="classNo != null">classNo,</if>

            <if test="orgSchool != null">org_school,</if>
            <if test="planType != null">plan_type,</if>
            <if test="stuType != null">stu_type,</if>
            <if test="inTime != null">in_time,</if>
            <if test="major != null">major,</if>
            <if test="length != null">length,</if>
            <if test="expectedGradu != null">expected_gradu,</if>
            <if test="schoolStatus != null">school_status,</if>
            <if test="status != null">status,</if>
            <if test="userName != null">user_name,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="email != null">email,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="sex != null">sex,</if>
            <if test="detailAddress != null">detail_address,</if>
            <if test="detailResidence != null">detail_residence,</if>
            <if test="qq != null">qq,</if>
            <if test="wechat != null">wechat,</if>
            <if test="contact != null">contact,</if>
            <if test="contactPhone != null">contact_phone,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentNo != null">#{studentNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="birth != null">#{birth},</if>
            <if test="nation != null">#{nation},</if>
            <if test="politicalStatus != null">#{politicalStatus},</if>
            <if test="bloodType != null">#{bloodType},</if>
            <if test="maritalStatus != null">#{maritalStatus},</if>
            <if test="healthStatus != null">#{healthStatus},</if>
            <if test="religious != null">#{religious},</if>
            <if test="country != null">#{country},</if>
            <if test="address != null">#{address},</if>
            <if test="residence != null">#{residence},</if>
            <if test="identity != null">#{identity},</if>
            <if test="instructorId != null">#{instructorId},</if>
            <if test="grade != null">#{grade},</if>
            <if test="collegeNo != null">#{collegeNo},</if>
            <if test="classNo != null">#{classNo},</if>

            <if test="orgSchool != null">#{orgSchool},</if>
            <if test="planType != null">#{planType},</if>
            <if test="stuType != null">#{stuType},</if>
            <if test="inTime != null">#{inTime},</if>
            <if test="major != null">#{major},</if>
            <if test="length != null">#{length},</if>
            <if test="expectedGradu != null">#{expectedGradu},</if>
            <if test="schoolStatus != null">#{schoolStatus},</if>
            <if test="status != null">#{status},</if>
            <if test="userName != null">#{userName},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="email != null">#{email},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="sex != null">#{sex},</if>
            <if test="detailAddress != null">#{detailAddress},</if>
            <if test="detailResidence != null">#{detailResidence},</if>
            <if test="qq != null">#{qq},</if>
            <if test="wechat != null">#{wechat},</if>
            <if test="contact != null">#{contact},</if>
            <if test="contactPhone != null">#{contactPhone},</if>
         </trim>
    </insert>

    <update id="updateStudent" parameterType="Student">
        update  student_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentNo != null">studentNo = #{studentNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="birth != null">birth = #{birth},</if>
            <if test="nation != null">nation = #{nation},</if>
            <if test="politicalStatus != null">political_status = #{politicalStatus},</if>
            <if test="bloodType != null">blood_type = #{bloodType},</if>
            <if test="maritalStatus != null">marital_status = #{maritalStatus},</if>
            <if test="healthStatus != null">health_status = #{healthStatus},</if>
            <if test="religious != null">religious = #{religious},</if>
            <if test="country != null">country = #{country},</if>
            <if test="address != null">address = #{address},</if>
            <if test="residence != null">residence = #{residence},</if>
            <if test="identity != null">identity = #{identity},</if>
            <if test="instructorId != null">instructor_id = #{instructorId},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="collegeNo != null">collegeNo = #{collegeNo},</if>
            <if test="classNo != null">classNo = #{classNo},</if>

            <if test="orgSchool != null">org_school = #{orgSchool},</if>
            <if test="planType != null">plan_type = #{planType},</if>
            <if test="stuType != null">stu_type = #{stuType},</if>
            <if test="inTime != null">in_time = #{inTime},</if>
            <if test="major != null">major = #{major},</if>
            <if test="length != null">length = #{length},</if>
            <if test="expectedGradu != null">expected_gradu = #{expectedGradu},</if>
            <if test="schoolStatus != null">school_status = #{schoolStatus},</if>
            <if test="status != null">status = #{status},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="detailAddress != null">detail_address = #{detailAddress},</if>
            <if test="detailResidence != null">detail_residence = #{detailResidence},</if>
            <if test="qq != null">qq = #{qq},</if>
            <if test="wechat != null">wechat = #{wechat},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
        </trim>
        where id = #{id}
    </update>


    <delete id="deleteStudentById" parameterType="Long">
        delete from student_info where id = #{id}
    </delete>

    <delete id="deleteStudentByIds" parameterType="String">
        delete from student_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertStudentByBatch" parameterType="java.util.List">
        insert into student_info(id, studentNo, user_id, birth, nation, political_status, blood_type, marital_status, health_status, religious, country,
                                 address, residence, identity, instructor_id, grade, classNo, collegeNo, org_school, plan_type, stu_type, in_time, major,
                                 length, expected_gradu, school_status, status, user_name, nick_name, email, phone_number, sex, detail_address, detail_residence,
                                qq, wechat, contact, contact_phone)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=BIGINT},#{item.studentNo,jdbcType=VARCHAR},#{item.userId,jdbcType=BIGINT},#{item.birth,jdbcType=TIMESTAMP},
            #{item.nation,jdbcType=INTEGER},#{item.politicalStatus,jdbcType=INTEGER},#{item.bloodType,jdbcType=INTEGER},#{item.maritalStatus,jdbcType=INTEGER},
            #{item.healthStatus,jdbcType=INTEGER},#{item.religious,jdbcType=INTEGER},#{item.country,jdbcType=VARCHAR},#{item.address,jdbcType=VARCHAR},
            #{item.residence,jdbcType=VARCHAR},#{item.identity,jdbcType=VARCHAR},#{item.instructorId,jdbcType=BIGINT},#{item.grade,jdbcType=VARCHAR},
            #{item.classNo,jdbcType=VARCHAR},#{item.collegeNo,jdbcType=VARCHAR},#{item.orgSchool,jdbcType=VARCHAR},#{item.planType,jdbcType=VARCHAR},
            #{item.stuType,jdbcType=VARCHAR},#{item.inTime,jdbcType=TIMESTAMP},#{item.major,jdbcType=VARCHAR},#{item.length,jdbcType=DOUBLE},
            #{item.expectedGradu,jdbcType=TIMESTAMP},#{item.schoolStatus,jdbcType=VARCHAR},#{item.status,jdbcType=VARCHAR},#{item.userName,jdbcType=VARCHAR},
            #{item.nickName,jdbcType=VARCHAR},#{item.email,jdbcType=VARCHAR},#{item.phoneNumber,jdbcType=VARCHAR},#{item.sex,jdbcType=VARCHAR},
            #{item.detailAddress,jdbcType=VARCHAR},#{item.detailResidence,jdbcType=VARCHAR},#{item.qq,jdbcType=VARCHAR},#{item.wechat,jdbcType=VARCHAR},
            #{item.contact,jdbcType=VARCHAR},#{item.contactPhone,jdbcType=VARCHAR})
        </foreach>
    </insert>


<!--    <select id="judgeStaffCatCode" parameterType="String" resultMap="StudentResult">-->
<!--        select *from staff_category where staff_cat_code = #{staffCatCode}-->
<!--    </select>-->
</mapper>
