<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbz.system.mapper.ClassTaskMapper">
    <resultMap id="BaseResultMap" type="ClassTask">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="semester" jdbcType="VARCHAR" property="semester"/>
        <result column="collegeNo" jdbcType="VARCHAR" property="collegeno"/>
        <result column="classNo" jdbcType="VARCHAR" property="classno"/>
        <result column="courseNo" jdbcType="VARCHAR" property="courseno"/>
        <result column="teacherNo" jdbcType="VARCHAR" property="teacherno"/>
        <result column="courseAttr" jdbcType="VARCHAR" property="courseattr"/>
        <result column="studentNumber" jdbcType="INTEGER" property="studentnumber"/>
        <result column="weeksSum" jdbcType="INTEGER" property="weekssum"/>
        <result column="weeksNumber" jdbcType="INTEGER" property="weeksnumber"/>
        <result column="isFix" jdbcType="VARCHAR" property="isfix"/>
        <result column="classTime" jdbcType="VARCHAR" property="classtime"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="com.wbz.system.domain.ClassTask">
    delete from class_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.wbz.system.domain.ClassTask">
        insert into class_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="semester != null">
                semester,
            </if>
            <if test="collegeno != null">
                collegeNo,
            </if>
            <if test="classno != null">
                classNo,
            </if>
            <if test="courseno != null">
                courseNo,
            </if>
            <if test="teacherno != null">
                teacherNo,
            </if>
            <if test="courseattr != null">
                courseAttr,
            </if>
            <if test="studentnumber != null">
                studentNumber,
            </if>
            <if test="weekssum != null">
                weeksSum,
            </if>
            <if test="weeksnumber != null">
                weeksNumber,
            </if>
            <if test="isfix != null">
                isFix,
            </if>
            <if test="classtime != null">
                classTime
            </if>
        </trim>

        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="semester != null">
                #{semester,jdbcType=VARCHAR},
            </if>
            <if test="collegeno != null">
                #{collegeno,jdbcType=VARCHAR},
            </if>
            <if test="classno != null">
                #{classno,jdbcType=VARCHAR},
            </if>
            <if test="courseno != null">
                #{courseno,jdbcType=VARCHAR},
            </if>
            <if test="teacherno != null">
                #{teacherno,jdbcType=VARCHAR},
            </if>
            <if test="courseattr != null">
                #{courseattr,jdbcType=VARCHAR},
            </if>
            <if test="studentnumber != null">
                #{studentnumber,jdbcType=INTEGER},
            </if>
            <if test="weekssum != null">
                #{weekssum,jdbcType=INTEGER},
            </if>
            <if test="weeksnumber != null">
                #{weeksnumber,jdbcType=INTEGER},
            </if>
            <if test="isfix != null">
                #{isfix,jdbcType=VARCHAR},
            </if>
            <if test="classtime != null">
                #{classtime,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.wbz.system.domain.ClassTask">
        update class_task
        <set>
            <if test="semester != null">
                semester = #{semester,jdbcType=VARCHAR},
            </if>
            <if test="collegeno != null">
                collegeNo = #{collegeno,jdbcType=VARCHAR},
            </if>
            <if test="classno != null">
                classNo = #{classno,jdbcType=VARCHAR},
            </if>
            <if test="courseno != null">
                courseNo = #{courseno,jdbcType=VARCHAR},
            </if>
            <if test="teacherno != null">
                teacherNo = #{teacherno,jdbcType=VARCHAR},
            </if>
            <if test="courseattr != null">
                courseAttr = #{courseattr,jdbcType=VARCHAR},
            </if>
            <if test="studentnumber != null">
                studentNumber = #{studentnumber,jdbcType=INTEGER},
            </if>
            <if test="weekssum != null">
                weeksSum = #{weekssum,jdbcType=INTEGER},
            </if>
            <if test="weeksnumber != null">
                weeksNumber = #{weeksnumber,jdbcType=INTEGER},
            </if>
            <if test="isfix != null">
                isFix = #{isfix,jdbcType=VARCHAR},
            </if>
            <if test="classtime != null">
                classTime = #{classtime,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, semester, collegeNo, classNo, courseNo, teacherNo, courseAttr, studentNumber,
    weeksSum, weeksNumber, isFix, classTime
    from class_task
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.wbz.system.domain.vo.QueryVO">
        select * from ( select clt.id, clt.semester, clt.collegeNo, cli.className as classNo, coi.courseName as
        courseNo,tei.teacherName as teacherNo, clt.courseAttr, clt.studentNumber,
        clt.weeksSum, clt.weeksNumber, clt.isFix, clt.classTime
        from class_task clt, class_info cli, course_info coi, teacher_info tei where
     cli.classNo = clt.classNo and coi.courseNo = clt.courseNo and clt.teacherNo = tei.teacherNo
        <if test="collegeno != null">
           and clt.collegeNo =
            #{collegeno,jdbcType=VARCHAR}
        </if>
        order by clt.id
       ) as temp
        <if test="condition != null">
            where semester like concat ("%",#{condition,jdbcType=VARCHAR},"%")
            or classNo like concat ("%",#{condition,jdbcType=VARCHAR},"%")
            or courseNo like concat ("%",#{condition,jdbcType=VARCHAR},"%")
            or teacherNo like concat ("%",#{condition,jdbcType=VARCHAR},"%")
        </if>
    </select>
    <select id="selectBySemester" resultMap="BaseResultMap" parameterType="com.wbz.system.domain.ClassTask">
        select * from class_task where semester = #{semester,jdbcType=VARCHAR}
    </select>

    <select id="selectByColumnName" resultType="java.lang.String" parameterType="java.lang.String">
       select distinct  ${columnName} from class_task
    </select>


<!--分界线-->

    <resultMap id="ClassTaskResult" type="ClassTask">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="semester" jdbcType="VARCHAR" property="semester"/>
        <result column="collegeNo" jdbcType="VARCHAR" property="collegeno"/>
        <result column="classNo" jdbcType="VARCHAR" property="classno"/>
        <result column="courseNo" jdbcType="VARCHAR" property="courseno"/>
        <result column="teacherNo" jdbcType="VARCHAR" property="teacherno"/>
        <result column="courseAttr" jdbcType="VARCHAR" property="courseattr"/>
        <result column="studentNumber" jdbcType="INTEGER" property="studentnumber"/>
        <result column="weeksSum" jdbcType="INTEGER" property="weekssum"/>
        <result column="weeksNumber" jdbcType="INTEGER" property="weeksnumber"/>
        <result column="isFix" jdbcType="VARCHAR" property="isfix"/>
        <result column="classTime" jdbcType="VARCHAR" property="classtime"/>
    </resultMap>

    <sql id="selectClassTaskVo">
        select id, semester, collegeNo, classNo, courseNo, teacherNo, courseAttr, studentNumber, weeksSum, weeksNumber, isFix, classTime from class_task
    </sql>

    <select id="selectClassTaskList" parameterType="ClassTask" resultMap="ClassTaskResult">
        <include refid="selectClassTaskVo"/>
        <where>
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="semester != null  and semester != ''"> and semester like concat('%',#{semester},'%') </if>
            <if test="collegeno != null  and collegeno != ''"> and collegeNo like concat('%',#{collegeno},'%')</if>
            <if test="classno != null  and classno != ''"> and classNo like concat('%',#{classno},'%')</if>
            <if test="courseno != null and courseno != ''"> and courseNo like concat('%',#{courseno},'%')</if>
            <if test="teacherno != null and teacherno != ''"> and teacherNo like concat('%',#{teacherno},'%')</if>
            <if test="courseattr != null and courseattr != ''"> and courseAttr like concat('%',#{courseattr},'%')</if>
            <if test="studentnumber != null and studentnumber != ''"> and studentNumber = #{studentnumber}</if>
            <if test="weekssum != null and weekssum != ''"> and weeksSum = #{weekssum}</if>
            <if test="weeksnumber != null and weeksnumber != ''"> and weeksNumber = #{weeksnumber}</if>
            <if test="isfix != null and isfix != ''"> and isFix like concat('%',#{isfix},'%')</if>
            <if test="classtime != null and classtime != ''"> and classTime like concat('%',#{classtime},'%')</if>
        </where>
    </select>

    <select id="checkCourseExist" parameterType="ClassTask" resultType="java.lang.Integer">
        select count(1) from class_task
        <where>
            <if test="semester != null and semester != ''"> and semester= #{semester}</if>
            <if test="collegeno != null and collegeno != ''"> and collegeNo= #{collegeno}</if>
            <if test="classno != null and classno != ''"> and classNo= #{classno}</if>
            <if test="courseno != null and courseno != ''"> and courseNo= #{courseno}</if>
            <if test="id != null and id != ''"> and id != #{id}</if>
        </where>
    </select>

    <insert id="insertClassTask" parameterType="ClassTask">
        insert into class_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">id,</if>
            <if test="semester!=null">semester,</if>
            <if test="collegeno!=null">collegeNo,</if>
            <if test="classno!=null">classNo,</if>
            <if test="courseno!=null">courseNo,</if>
            <if test="teacherno!=null">teacherNo,</if>
            <if test="courseattr!=null">courseAttr,</if>
            <if test="studentnumber!=null">studentNumber,</if>
            <if test="weekssum!=null">weeksSum,</if>
            <if test="weeksnumber!=null">weeksNumber,</if>
            <if test="isfix!=null">isFix,</if>
            <if test="classtime!=null">classTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="semester != null">#{semester},</if>
            <if test="collegeno != null">#{collegeno},</if>
            <if test="classno != null">#{classno},</if>
            <if test="courseno != null">#{courseno},</if>
            <if test="teacherno != null">#{teacherno},</if>
            <if test="courseattr != null">#{courseattr},</if>
            <if test="studentnumber != null">#{studentnumber},</if>
            <if test="weekssum != null">#{weekssum},</if>
            <if test="weeksnumber != null">#{weeksnumber},</if>
            <if test="isfix != null">#{isfix},</if>
            <if test="classtime != null">#{classtime},</if>
        </trim>
    </insert>

    <update id="updateClassTask" parameterType="ClassTask">
        update  class_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null">id = #{id},</if>
            <if test="semester != null">semester = #{semester},</if>
            <if test="collegeno != null">collegeNo = #{collegeno},</if>
            <if test="classno != null">classNo = #{classno},</if>
            <if test="courseno != null">courseNo = #{courseno},</if>
            <if test="teacherno != null">teacherNo = #{teacherno},</if>
            <if test="courseattr != null">courseAttr = #{courseattr},</if>
            <if test="studentnumber != null">studentNumber = #{studentnumber},</if>
            <if test="weekssum != null">weeksSum = #{weekssum},</if>
            <if test="weeksnumber != null">weeksNumber = #{weeksnumber},</if>
            <if test="isfix != null">isFix = #{isfix},</if>
            <if test="classtime != null">classTime = #{classtime},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="selectClassTaskById" parameterType="java.lang.Long" resultMap="ClassTaskResult">
        <include refid="selectClassTaskVo"/>
        where id = #{id}
    </select>

    <delete id="delClassTask" parameterType="String">
        delete from class_task where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertClassTaskByBatch" parameterType="java.util.List">
        insert into class_task (id,semester,collegeNo, classNo, courseNo, teacherNo, courseAttr, studentNumber, weeksSum, weeksNumber, isFix, classTime)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=BIGINT},#{item.semester,jdbcType=VARCHAR},#{item.collegeno,jdbcType=VARCHAR},#{item.classno,jdbcType=VARCHAR},#{item.courseno,jdbcType=VARCHAR},
             #{item.teacherno,jdbcType=VARCHAR},#{item.courseattr,jdbcType=VARCHAR},#{item.studentnumber,jdbcType=INTEGER},#{item.weekssum,jdbcType=INTEGER},
             #{item.weeksnumber,jdbcType=INTEGER},#{item.isfix,jdbcType=VARCHAR},#{item.classtime,jdbcType=VARCHAR})
        </foreach>
    </insert>


</mapper>
