<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbz.system.mapper.ClassInfoMapper">
  <resultMap id="BaseResultMap" type="com.wbz.system.domain.ClassInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="classNo" jdbcType="VARCHAR" property="classno" />
    <result column="className" jdbcType="VARCHAR" property="classname" />
    <result column="studentNumber" jdbcType="INTEGER" property="studentnumber"/>
    <result column="collegeNo" jdbcType="VARCHAR" property="collegeno"/>
  </resultMap>

  <select id="selectStudentNumber" resultType="java.lang.Integer" parameterType="java.lang.String">
    select studentNumber  from class_info where classNo = #{classNo,jdbcType=VARCHAR}
  </select>

  <sql id="selectClassVo">
    select id, classNo, className, studentNumber, collegeNo from class_info
  </sql>
  <select id="selectClassList" parameterType="ClassInfo" resultMap="BaseResultMap">
    <include refid="selectClassVo"/>
    <where>
      <if test="id != null  and id != ''"> and id = #{id}</if>
      <if test="classno != null  and classno != ''"> and classNo like concat('%',#{classno},'%') </if>
      <if test="collegeno != null  and collegeno != ''"> and collegeNo like concat('%',#{collegeno},'%')</if>
      <if test="classname != null  and classname != ''"> and className like concat('%',#{classname},'%')</if>
      <if test="studentnumber != null and studentnumber != ''"> and studentNumber=#{studentnumber})</if>
    </where>
  </select>

</mapper>
