<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbz.system.mapper.CoursePlanMapper">
    <resultMap id="BaseResultMap" type="com.wbz.system.domain.CoursePlan">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="collegeNo" jdbcType="VARCHAR" property="collegeno"/>
        <result column="classNo" jdbcType="VARCHAR" property="classno"/>
        <result column="courseNo" jdbcType="VARCHAR" property="courseno"/>
        <result column="teacherNo" jdbcType="VARCHAR" property="teacherno"/>
        <result column="classroomNo" jdbcType="VARCHAR" property="classroomno"/>
        <result column="classTime" jdbcType="VARCHAR" property="classtime"/>
        <result column="weeksSum" jdbcType="INTEGER" property="weekssum"/>
        <result column="semester" jdbcType="VARCHAR" property="semester"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from course_plan
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="clearCoursePlan">
        delete from course_plan
    </delete>
    <insert id="insertCoursePlan" parameterType="com.wbz.system.domain.CoursePlan">
        insert into course_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="semester != null">
                semester,
            </if>
            <if test="collegeno != null">
                collegeNo,
            </if>
            <if test="classno != null">
                classNo,
            </if>
            <if test="courseno != null">
                courseNo,
            </if>
            <if test="teacherno != null">
                teacherNo,
            </if>
            <if test="classroomno != null">
                classroomNo,
            </if>
            <if test="weekssum != null">
                weeksSum,
            </if>

            <if test="classtime != null">
                classTime
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="semester != null">
                #{semester,jdbcType=VARCHAR},
            </if>
            <if test="collegeno != null">
                #{collegeno,jdbcType=VARCHAR},
            </if>
            <if test="classno != null">
                #{classno,jdbcType=VARCHAR},
            </if>
            <if test="courseno != null">
                #{courseno,jdbcType=VARCHAR},
            </if>
            <if test="teacherno != null">
                #{teacherno,jdbcType=VARCHAR},
            </if>
            <if test="classroomno != null">
                #{classroomno,jdbcType=VARCHAR},
            </if>
            <if test="weekssum != null">
                #{weekssum,jdbcType=INTEGER},
            </if>
            <if test="classtime != null">
                #{classtime,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateCoursePlan" parameterType="com.wbz.system.domain.ClassTask">
        update course_plan
        set weeksSum = #{weekssum,jdbcType=INTEGER},
            semester = #{semester,jdbcType=VARCHAR}
        where collegeNo = #{collegeno,jdbcType=VARCHAR}
          and classNo = #{classno,jdbcType=VARCHAR}
          and courseNo = #{courseno,jdbcType=VARCHAR}
          and teacherNo = #{teacherno,jdbcType=VARCHAR}
    </update>


    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.wbz.system.domain.vo.QueryVO">
        SELECT
        *
        FROM
        (
        SELECT
        cop.id,
        cli.className AS classNo,
        coi.courseName AS courseNo,
        tei.teacherName AS teacherNo,
        cop.classroomNo ,
        cop.classTime,
        cop.weeksSum
        FROM
        course_plan cop,
        class_info cli,
        course_info coi,
        teacher_info tei
        WHERE
        cop.classNo = cli.classNo
        AND cop.courseNo = coi.courseNo
        AND cop.teacherNo = tei.teacherNo
        <if test="semester != null and semester != ''">
            AND cop.semester = #{semester,jdbcType=VARCHAR}
        </if>
        <if test="collegeno != null and collegeno != ''">
            AND cop.collegeNo = #{collegeno,jdbcType=VARCHAR}
        </if>
        order by cop.classTime
        ) AS temp

        <if test="condition != null">
            where classNo like concat ("%",#{condition,jdbcType=VARCHAR},"%")
            or courseNo like concat ("%",#{condition,jdbcType=VARCHAR},"%")
            or teacherNo like concat ("%",#{condition,jdbcType=VARCHAR},"%")

        </if>
    </select>

    <sql id="selectCoursePlanVo">
        select id, collegeNo, classNo, courseNo, teacherNo, classroomNo, classTime, weeksSum, semester from course_plan
    </sql>

    <select id="selectCoursePlanList" parameterType="CoursePlan" resultMap="BaseResultMap">
        <include refid="selectCoursePlanVo"/>
        <where>
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="collegeno != null  and collegeno != ''"> and collegeNo like concat('%',#{collegeno},'%') </if>
            <if test="classno != null  and classno != ''"> and classNo like concat('%',#{classno},'%') </if>
            <if test="courseno != null  and courseno != ''"> and courseNo like concat('%',#{courseno},'%') </if>
            <if test="teacherno != null  and teacherno != ''"> and teacherNo like concat('%',#{teacherno},'%')</if>
            <if test="classroomno != null  and classroomno != ''"> and classroomNo like concat('%',#{classroomno},'%')</if>
            <if test="classtime != null  and classtime != ''"> and classTime like concat('%',#{classtime},'%')</if>
            <if test="semester != null  and semester != ''"> and semester like concat('%',#{semester},'%')</if>
            <if test="weekssum != null and weekssum != ''"> and weeksSum = #{weekssum}</if>
        </where>
    </select>


</mapper>
